@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Varela+Round&display=swap');


body{
    background-color: #1DB954;
}

*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    align-items: center;
}

nav ul li{
    padding: 0 12px;
}

.brand{
    font-size: 1.3rem;
}
.brand img{
    width: 50px;
}

.container{
    height: 56.1vh;
    width: 75%;
    background-color: black;
    margin: 3% auto;
    border-radius: 15px;
    padding: 2%;
}
.bottom{
    bottom: 0;
    position: sticky;
    height: 95px;
    text-align: center;
    background-color: black;
}

.icons{
    margin-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.playlistName{
    height: fit-content;
    padding-bottom: 20px;
}

.songsDetails{
    display: flex;
    opacity: 50%;
    font-size: 1.3rem;
    padding-bottom: 10px;
    cursor: pointer;
}

.songsDetails:hover{
    opacity: 100%;
}

#play-pause{
    width: 80px;
}

.playSong{
    padding-right: 120px;
}

.songNumber{
    width: 100px;
    padding-right: 100px;
}

.songName{
    width: 200px;
    padding-right: 100px;
}
.highlightPlayingSong{
    opacity: 100%;
}

#progressBar{
    width: 70%;
    color: #1DB954;
}

